body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #141414, #171717, #212121);
    color: white;
    animation: color 12s ease-in-out infinite;
}
@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0);
    max-width: 900px;
    transition: 1s;
}

.container:hover {
    box-shadow: 0 0 20px rgba(0, 255, 255);
    transition: 1s;
}

.profile img {
    width: 250px;
    height: 250px;
    border-radius: 100px;
}

.komikanlar {
    width: 550px;
    box-shadow: 0 0 20px white;
    border-radius: 10px;
    backdrop-filter: blur(150px);
}

.profile .profile-info .komikanlar ul {
    list-style-type: none;
    text-decoration: none;
    margin: 30px;
}

.profile .profile-info .komikanlar ul li {
    margin-bottom: 10px;
}

.profile .profile-info .komikanlar ul li a {
    display: block;
    text-decoration: none;
    margin: 0 20px;
    color: white;
    line-height: 20px;
}

.profile {
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials a {
    display: inline-block;
    margin: 0 15px;
    width: 70px;
    height: 50px;
    color: transparent; /* Set text color to transparent */
    background-image: linear-gradient(to right, #ffffff, #7bf5fe, #847bfe); /* Define your color gradient */
    -webkit-background-clip: text; /* Clip the gradient to the text */
    background-clip: text; /* Clip the gradient to the text */
    font-size: 50px;
}